/*saker som involverar hela dokumentet*/

html {
    scroll-padding: 8rem;
    scroll-behavior: smooth;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
text-decoration-line: underline;
}

/*header*/

header {
position: sticky;
top: 0;
inset: 0;

z-index: 99;
}

h1 {
    font-size: larger;
}

.top-header {   
display: flex;
justify-content: space-between;
align-items: center;

background: linear-gradient(to right, blueviolet, violet);
color: whitesmoke;

padding-inline: 10%;
}

.h1-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.h1-logo {
    max-width: 4rem;
    height: max-content;
}

/*header links*/

.primary-navigation {
list-style: none;
display: flex;
gap: 1rem;
}

.link-header {
color: whitesmoke;
text-decoration: none;
}

.link-header:hover {
color: black;
}

/*main*/
/*section*/

main {
position: relative;
top: 25%;

display: flex;
gap: 2rem;
max-width: 70%;
margin-inline: auto;
margin-bottom: 7rem;
}

section {
padding-top: 4rem;
width: 90%;
z-index: 0;
}

h3 {
padding-top: 1rem;
}

.grid-row {
display: grid;
grid-template-columns: 1fr 3fr;
}

.grid-row:nth-child(odd) {
background: whitesmoke;
}

.text-columns {
    column-count: 2;
    column-gap: auto;
}

/*aside*/

aside {
place-self: start;
position: sticky;
top: 15%;
background-color: white;
padding-inline: 1.5rem;
z-index: 1;
}

aside:hover {
box-shadow: 0rem 0.5rem 2rem rgb(219, 219, 219);
scale: 1.04;
}

/*aside links*/
/*Link som tar dig till HTML delen eller CSS delen*/

.aside-links {
    line-height: 2;
}

.aside-nav {
list-style: upper-roman;
padding: 1rem;
}

.aside-nav-link {
color: blueviolet;
}

.aside-nav-link:hover {
color: violet;
}

.aside-nav-link:active {
color: black;
}

/*link till olika delar av HTML länkarna eller CSS länkarna*/

.link-main {
color: blueviolet;
}

.link-main:hover {
color: violet;
}

.link-main:active {
color: black;
}

/*Footer*/

footer {   
background: linear-gradient(to right, blueviolet, violet);

display: flex;
justify-content: space-around;
gap: 1rem;

padding: 2rem;
margin-top: 2rem;

list-style: none;

z-index: 1;
}

.link-footer {
color: whitesmoke;
text-decoration: none;
}

.link-footer:hover {
color: black;
}

@media(width < 480px) {
    
}